body{
}
.main-div{
    background:#eaedd5;
    padding-left: 260px;
    height: 720px;
    padding-right: 390px;
}
.navbar{
    background-color: red;
    height: 25px;
    
}
a{
    text-decoration: none;
    color: #eaedd5;
    align-items: center;
    font-size: 20px;
    padding-left: 70px;  
}
.a{
    padding-left: 110px;
    }
.paragraph{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    display: flex;
    gap: 110px;
}
.heading-1{
    margin-left: 40px;
}
.input{
    padding-top: 12px;
    background-color: #eaedd5;
    font-size: 14px;
}
.more-input{
    padding-top: 12px;
    background-color: #eaedd5;
    font-size: 14px;
}